
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<title>World!</title>
</head>
<body>
	<h3>World!</h3>
	<hr>

	<div>
		<form th:action="@{/addContinent}" th:object="${continent}"
			method="post">
			<label for="continentName">Add Continent</label> <input type="text"
				id="fname" name="continentName" placeholder="Add Continent..">
			<input type="submit" value="Submit">
		</form>
	</div>

	<div>
		<form th:action="@{/country/addCountry}" th:object="${country}" method="post">
			<label  for="countryName">Add Country</label> <input type="text"
				id="fname" name="countryName" placeholder="Add Country.."> <input
				type="submit" value="Submit">
		</form>

	</div>

	<div>
		<form th:action="@{/addCity}" th:object="${city}" method="post">
			<label for="cityName">Add City</label> <input type="text" id="fname"
				name="cityName" placeholder="Add City.."> <input
				type="submit" value="Submit">
		</form>
	</div>

	<div>
		<form th:action="@{/addAirport}" th:object="${airport}" method="post">
			<label for="airportName">Add Airport</label> <input type="text"
				id="fname" name="airportName" placeholder="Add Airport.."> <label
				for="airportAddress">Add Address</label><input type="text"
				id="fname" name="airportAddress" placeholder="add address..">
			<input type="submit" value="Submit">
		</form>
	</div>

	<div>
		<form th:action="@{/addHotel}" th:object="${hotel}" method="post">
			<label for="hoteltName">Add Hotel</label> <input type="text"
				id="fname" name="hotelName" placeholder="Add Hotel..">
				<label
				for="hotelAddress">Add Address</label><input type="text"
				id="fname" name="hotelAddress" placeholder="add address.."> <input
				type="submit" value="Submit">
		</form>
	</div>


</body>
</html>