<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{css/navstyle.css}">

<title>Administrator</title>
</head>

<body style="background-color: #83979B;">

	<nav class="navbar navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand">Travel<b>Agency</b></a>  		
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav">
			<li class="nav-item"><a href="#" class="nav-link">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link">About</a></li>			
			<li class="nav-item dropdown">
				<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Services <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li><a th:href="@{trip/showFormForAdd}" class="dropdown-item">Add Trip</a></li>
					<li><a th:href="@{purchase/list}" class="dropdown-item">Purchase List</a></li>
					<li><a href="#" class="dropdown-item">Graphic Design</a></li>
					<li><a href="#" class="dropdown-item">Digital Marketing</a></li>
				</ul>
			</li>
			<li class="nav-item active"><a href="#" class="nav-link">Pricing</a></li>
			<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
			<li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
		</ul>
		<form class="form-inline mr-sm-2"  th:action="@{/trip/search}">								
				<input type="text" id="text" name="text" class="form-control" placeholder="Search here...">
				<button class="btn btn-primary" type="submit" style="background-color:  #33cabb; border: none;">Search</button>
				<!-- <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span> -->	
		</form>
		<ul class="nav navbar-nav navbar-right ml-auto">			
			<li class="nav-item" sec:authorize="!isAuthenticated()">
			
				<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Login</a>
				<ul class="dropdown-menu form-wrapper">					
					<li>
						<form th:action="@{/loginSubmit}" method="post">
							<p class="hint-text">Login</p>
 		
							 <div class="form-group">
								<input id="email" name="email" type="email" class="form-control" placeholder="Email" required="required">
							</div>
							<div class="form-group">
								<input id="password" name="password" type="password" class="form-control" placeholder="Password" required="required">
							</div>
							<input type="submit" class="btn btn-primary btn-block" value="Login">
							<div class="form-footer">
								<a href="#">Forgot Your password?</a>
							</div> 
						</form>
					</li>
				</ul>
			</li>
			<li class="nav-item" sec:authorize="isAuthenticated()">
			<form th:action="@{/logoutSubmit}" method="post">
			<input type="submit" class="btn btn-sm-primary"  value="Logout" />
			</form>
			</li>
			<li class="nav-item">
				<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1" style="border: none;">Sign up</a>
				<ul class="dropdown-menu form-wrapper">					
					<li>
						<form th:action="@{/registerSubmit}" method="post" th:object="${user}">
							<p class="hint-text">Fill in this form to create your account!</p>
							<div class="form-group">
								<input th:field="*{firstName}" type="text" class="form-control" placeholder="First Name" required="required">
							</div>
							<div class="form-group">
								<input th:field="*{lastName}" type="text" class="form-control" placeholder="Last Name" required="required">
							</div>
							<div class="form-group">
								<input th:field="*{password}" type="password" class="form-control" placeholder="Password" required="required">
							</div>
							<div class="form-group">
								<input th:field="*{email}" type="email" class="form-control" placeholder="Email" required="required">
							</div>
							
<!-- 							<div class="form-group">
								<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
							</div> -->
							<input type="submit" class="btn btn-primary btn-block" value="Sign up">
						</form>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

	<img class="d-block w-100" src="https://i.imgur.com/S0EXGTu.jpg" alt="Sea">


	<!-- 	<th:block th:with="colCount=${3}">
		<div th:each="r : ${#numbers.sequence(0, tripList.size(), colCount)}"
			id="x" class="row" style="padding: 10px;">
			<div th:each="c : ${#numbers.sequence(0, colCount -1)}"
				th:if="${r + c &lt; tripList.size()}"
				th:with="trip=${tripList.get(r + c)}"
				th:class="'col-sm-' + 12/${colCount}">
				<div class="card img-fluid"
					th:style="'width: ' + 80/${colCount} + 'rem;'">
					<img th:src="${trip.imageUrl}" class="card-img-top" alt="...">
					<div class="card-body p-3 mb-2 bg-transparent">
						<h5 class="card-title">
							Trip to <span th:text="${trip.arrivalCity.cityName}"></span>, <span
								th:text="${trip.arrivalCity.country.countryName}"></span>
						</h5>
						<p>Click on the button down below to see more details</p>
						<a th:href="@{/trip/view/{id}(id=${trip.idTrip})}"
							class="btn btn-outline-info">See more</a>
					</div>
				</div>
			</div>
		</div>
	</th:block> -->
	<th:block th:with="colCount=${3}">
		<div th:each="r : ${#numbers.sequence(0, tripList.size(), colCount)}"
			id="x" class="row" style="padding: 10px;">
			<div th:each="c : ${#numbers.sequence(0, colCount -1)}"
				th:if="${r + c &lt; tripList.size()}"
				th:with="trip=${tripList.get(r + c)}"
				th:class="'col-sm-' + 12/${colCount}">
				<div class="card img-fluid border-0 shadow"
					th:style="'width: ' + 80/${colCount} + 'rem;'">
					<a th:href="@{/trip/view/{id}(id=${trip.idTrip})}">
					<img th:src="${trip.imageUrl}" class="card-img-top" alt="..."></a>
					<div class="card-body p-3 mb-2 bg-transparent-dark">
						<h5 class="card-title">
							Trip to <span th:text="${trip.arrivalCity.cityName}"></span>, <span
								th:text="${trip.arrivalCity.country.countryName}"></span>
						</h5>
						<hr>
						<a th:href="@{/trip/view/{id}(id=${trip.idTrip})}"
							class="btn btn-outline-info">See more</a> 
					</div> 
				</div>
			</div>
		</div>
	</th:block>

	<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
		<div class="container text-center">
			<small>Copyright &copy; Travel Agency</small>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script type="text/javascript">
	// Prevent dropdown menu from closing when click inside the form
	$(document).on("click", ".navbar-right .dropdown-menu", function(e){
		e.stopPropagation();
	});
</script>
</body>
</html>