<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Administrator</title>
</head>

<body>

	<div class="container">
		<h3>Trip</h3>
		<hr>
		<p class="h4 mb-4">Save Trip</p>


		<form th:action="@{/trip/savetry}" th:object="${trip}" method="POST">
			<input type="hidden" th:field="*{idTrip}">


			<table class="table table-bordered table-striped">
				<thead>
					<tr class="table-info">
						<th>Trip Details</th>
						<th>Action</th>
					</tr>
					<tr>
					<tr>
						<td>Price for adult</td>
						<td><input type="number" th:field="*{priceForAdult}"
							placeholder=""></td>
					</tr>
					<tr>
						<td>Price for children</td>
						<td><input type="number" th:field="*{priceForChildren}"
							placeholder=""></td>
					</tr>
					<tr>
						<td>Number of beds</td>
						<td><input type="number" th:field="*{numberOfBeds}"></td>
					</tr>
					<tr>
						<td>Number of beds for children</td>
						<td><input type="number"
							th:field="*{numberOfBedsForChildren}"></td>
					</tr>
					<tr>
						<td>Number of days</td>
						<td><input type="number" th:field="*{numberOfDays}"
							placeholder=""></td>
					</tr>
					<tr>
						<td>Depart City</td>
						<td><select th:field="*{departCity}">
								<option th:each="city : ${cities}" th:text="${city.cityName}"
									th:value="${city.idCity}"></option>
						</select></td>
					</tr>
					<tr>
						<td>Arrival City</td>
						<td><select th:field="*{arrivalCity}">
								<option th:each="city : ${cities}" th:text="${city.cityName}"
									th:value="${city.idCity}"></option>
						</select></td>
					</tr>

					<tr>
						<td>Depart Airport</td>

						<td><select th:field="*{departAirport}">
								<option th:each="airport : ${airports}"
									th:text="${airport.airportName}"
									th:value="${airport.idAirport}"></option>
						</select></td>

					</tr>
					<tr>

						<td>Arrival Airport</td>
						<td><select th:field="*{arrivalAirport}">
								<option th:each="airport : ${airports}"
									th:text="${airport.airportName}"
									th:value="${airport.idAirport}"></option>
						</select></td>
					</tr>

					<tr>
						<td>Arrival Hotel</td>
						<td><select th:field="*{arrivalHotel}">
								<option th:each="hotel : ${hotels}" th:text="${hotel.hotelName}"
									th:value="${hotel.idHotel}"></option>
						</select></td>
					</tr>
					<tr>
						<td>Depart Date</td>
						<td><input type="date" th:value="${trip.departDate}"
							th:field="${trip.departDate}"></td>
					</tr>
					<tr>
						<td>Return Date</td>
						<td><input type="date" th:value="${trip.returnDate}"
							th:field="${trip.returnDate}"></td>
					</tr>
					<tr>
						<td>Image Url</td>
						<td><input type="text" th:value="${trip.imageUrl}"
							th:field="${trip.imageUrl}"></td>
					</tr>


				</thead>
			</table>


			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
		<hr>
		<a th:href="@{/trip/list}">Back to Trip List</a>
	</div>

</body>
</html>
