<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<title>Booking</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: #e3f2fd;">
	


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>
		
				<li class="nav-item active"><a class="nav-link" th:href="@{/trip/showFormForAdd}"> Trip List </a>
<!-- 					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
						
					</div> -->	
					</li>
					
			</ul>
		
		</div>
	</nav>

	
	
	
	<h3 class="p-3 mb-2 bg-primary text-white text-center">Trip List</h3>
	<hr>
	<a th:href="@{/trip/showFormForAdd}"
		class="btn btn-outline-primary my-2 my-sm-0">Add Trip</a>



	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Price for adults</th>
				<th>Price for children</th>
				<th>Number of beds</th>
				<th>Number of beds for children</th>
				<th>Number of days</th>
				<th>Depart City</th>
				<th>Arrival City</th>
				<th>Depart Airport</th>
				<th>Arrival Airport</th>
				<th>Arrival Hotel</th>
				<th>Depart Date</th>
				<th>Return Date</th>
				<th>Operations</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="trip : ${allTrips}">
				<td th:text="${trip.idTrip}"></td>
				<td th:text="${trip.priceForAdult}"></td>
				<td th:text="${trip.priceForChildren}"></td>
				<td th:text="${trip.numberOfBeds}"></td>
				<td th:text="${trip.numberOfBedsForChildren}"></td>
				<td th:text="${trip.numberOfDays}"></td>
				<td th:text="${trip.departCity.cityName}"></td>
				<td th:text="${trip.arrivalCity.cityName}"></td>
				<td th:text="${trip.departAirport.airportName}"></td>
				<td th:text="${trip.arrivalAirport.airportName}"></td>
				<td th:text="${trip.arrivalHotel.hotelName}"></td>
				<td th:text="${{trip.departDate}}"></td>
				<td th:text="${{trip.returnDate}}"></td>



				<td><a
					th:href="@{/trip/showFormForUpdate(tripId=${trip.idTrip})}"
					class="btn btn-info btn-sm"> Update </a> <a
					th:href="@{/trip/delete(tripId=${trip.idTrip})}"
					class="btn btn-danger btn-sm"
					onclick="if (!(confirm('Are you sure you want to delete this trip?'))) return false">
						Delete</a></td>
			</tr>
		</tbody>
	</table>


</body>
</html>


