<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


<title>Booking</title>


</head>
<body>

	<h3 class="p-3 mb-2 bg-primary text-white text-center">List of
		Purchase</h3>
	<hr>


	
	<form>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Total Amount</th>
					<th>Arrival City</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td th:text="${purchase.idPurchase}"></td>
					<td th:text="${purchase.firstName}"></td>
					<td th:text="${purchase.lastName}"></td>
					<td th:text="${purchase.totalAmount}"></td>
					<td th:text="${purchase.trip.arrivalCity.cityName}"></td>

				</tr>
			</tbody>
		</table>
</form>

	<hr>
	<a th:href="@{/}">Back to home page</a>



</body>
</html>
