<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">


<title>Booking</title>

<style>
#x {
	margin: 20px;
}
</style>
</head>
<body>
	<h3 class="p-3 mb-2 bg-primary text-white text-center">List of
		Purchase</h3>
	<hr>



	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Total Amount</th>
				<th>Trip Arrival City</th>
				<th>Edit Trip</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="purchase : ${allPurchase}">

				<td th:text="${purchase.idPurchase}"></td>
				<td th:text="${purchase.firstName}"></td>
				<td th:text="${purchase.lastName}"></td>
				<td th:text="${purchase.totalAmount}"></td>
				<td th:text="${purchase.trip.arrivalCity.cityName}"></td>

				<td><a
					th:href="@{/purchase/showFormForUpdate(purchaseId=${purchase.idPurchase})}"
					class="btn btn-info btn-sm"> Update </a> <a
					th:href="@{/purchase/delete(purchaseId=${purchase.idPurchase})}"
					class="btn btn-danger btn-sm"
					onclick="if (!(confirm('Are you sure you want to edit this trip?'))) return false">
						Delete</a></td>
			</tr>


		</tbody>
	</table>


	<hr>
	<a th:href="@{/}">Back to homepage</a>



</body>
</html>
      