<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">


<title>Booking</title>

<style>
#x {
	margin: 20px;
}
#mo{
	width: 540px;
}

</style>
</head>
<body>


	<h3 class="p-3 mb-2 bg-primary text-white text-center">Purchase of
		a trip</h3>
	<hr>


	<form id="x" th:object="${purchase}" action="/purchase/newPurchase"
		method="GET">
		<input type="hidden" th:field="${trip.idTrip}">

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Price for adults</th>
					<th>Price for children</th>
					<th>Number of beds</th>
					<th>Number of beds for children</th>
					<th>Number of days</th>
					<th>Depart City</th>
					<th>Arrival City</th>
					<th>Depart Airport</th>
					<th>Arrival Airport</th>
					<th>Arrival Hotel</th>
					<th>Depart Date</th>
					<th>Return Date</th>
					<th>Operations</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${trip.idTrip}"></td>
					<td th:text="${trip.priceForAdult}"></td>
					<td th:text="${trip.priceForChildren}"></td>
					<td th:text="${trip.numberOfBeds}"></td>
					<td th:text="${trip.numberOfBedsForChildren}"></td>
					<td th:text="${trip.numberOfDays}"></td>
					<td th:text="${trip.departCity.cityName}"></td>
					<td th:text="${trip.arrivalCity.cityName}"></td>
					<td th:text="${trip.departAirport.airportName}"></td>
					<td th:text="${trip.arrivalAirport.airportName}"></td>
					<td th:text="${trip.arrivalHotel.hotelName}"></td>
					<td th:text="${{trip.departDate}}"></td>
					<td th:text="${{trip.returnDate}}"></td>

					<!-- 					<td><button type="submit" 
						class="btn btn-danger btn-sm">Purchase</button></td> -->


					<td><button type="button" class="btn btn-info"
							data-toggle="modal" data-target="#exampleModal">Reserve</button>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div  class="modal-dialog" role="document">
								<div id="mo" class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Purchase of a trip</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body"> <span th:text="${trip.arrivalCity.cityName}"></span>, <span
								th:text="${trip.arrivalCity.country.countryName}"></span>
						</div>
									<div class="modal-footer">
									<img th:src="${trip.imageUrl}">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-info">Purchase</button>
									</div>
								</div>
							</div>

						</div></td>
				</tr>
			</tbody>
		</table>



		<div class="form-row">
			<div class="col">
				<input class="form-control" type="text" th:field="*{firstName}"
					placeholder="First Name">
			</div>
			<div class="col">
				<input type="text" class="form-control" placeholder="Last name"
					th:field="*{lastName}">
			</div>
		</div>
	</form>
	<hr>
	<a style="padding:20px;" th:href="@{/}">Back to home page</a>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>



