<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<title>Country list</title>
</head>

<body>
	<h3>Country List</h3>
	<hr>

	<a th:href="@{/country/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">Add Country</a>


	<div class="container">
		<table class="table table-bordered table-striped">

			<thead class="thead-dark">

				<tr>
					<th>Country List!!!</th>
					<th>Action</th>
				</tr>

			</thead>
			<tbody>
				<tr th:each="tempCountry : ${country}">
					<td th:text="${tempCountry.countryName}"></td>

					<td><a
						th:href="@{/country/showFormForUpdate(countryId=${tempCountry.idCountry})}"
						class="btn btn-info btn-sm"> Update </a> <a
						th:href="@{/country/delete(countryId=${tempCountry.idCountry})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this country?'))) return false">
							Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>