<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>save Form</title>
</head>

<body>

	<div class="container">
		<h3>Country</h3>
		<hr>
		<p class="h4 mb-4">Save Country</p>


		<form action="#" th:action="@{/country/save}" th:object="${country}"
			method="POST">
			<input type="hidden" th:field="*{idCountry}"> <input
				type="text" th:field="*{countryName}"
				class="form-control mb-4 col-4" placeholder="Country Name">
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
		<hr>
		<a th:href="@{/country/list}">Back to Country List</a>
	</div>

</body>
</html>

<!-- 	<p>
				Country name: <input type="text" th:field="*{countryName}"
					placeholder="Country Name">
			</p> -->