<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<title>save Form</title>
</head>

<body>

	<div class="container">
		<h3>Purchase</h3>
		<hr>
		<p class="h4 mb-4">Save Purchase</p>


		<form action="#" th:action="@{/purchase/save}" th:object="${purchase}"
			method="POST">
			<input type="text" th:field="*{firstName}"
				class="form-control mb-4 col-4" placeholder="First Name"> <input
				type="text" th:field="*{lastName}" class="form-control mb-4 col-4"
				placeholder="Last Name"> <input type="text"
				th:field="*{totalAmount}" class="form-control mb-4 col-4"
				placeholder="Total Amount">
			<p th:field="${purchase.trip.idTrip}">
				<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
		<hr>
		<!-- 		<a th:href="@{/country/list}">Back to Country List</a>-->
	</div>

</body>
</html>





